@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container_css {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* ----------font size----------- */

.fs_1sm {
    font-size: var(--fs-1sm);
}

.fs_1md {
    font-size: var(--fs-1md);
}

.fs_1lg {
    font-size: var(--fs-lg);
}

.fs_1xl {
    font-size: var(--fs-1xl);
}

.fs_2xsm {
    font-size: var(--fs-2xsm);
}

.fs_2sm {
    font-size: var(--fs-2sm);
}

.fs_2md {
    font-size: var(--fs-2md);
}

.fs_2lg {
    font-size: var(--fs-2lg);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_3lg {
    font-size: var(--fs-3lg);
}

.fs_4md {
    font-size: var(--fs-4md);
}

.fs_4lg {
    font-size: var(--fs-4lg);
}

.fs_5lg {
    font-size: var(--fs-5lg);
}

.fs_8lg {
    font-size: var(--fs-8lg);
}

/* ----font weigth----- */
.fw_normal {
    font-weight: var(--fw-normal);
}

.fw_medium {
    font-weight: var(--fw-medium);
}

.fw_semibold {
    font-weight: var(--fw-semibold);
}

.fw_bold {
    font-weight: var(--fw-bold);
}

/* ----------font family--------- */

.ff_sen {
    font-family: 'Sen';
}

.ff_poppins {
    font-family: 'poppins';
}

.ff_inter {
    font-family: 'inter';
}

/*------------color---------- */

.bg_light_yellow {
    background: #FAF8ED;
}

.cl_black_34 {
    color: #2D3134;
}

.cl_black_97 {
    color: #939597;
}

.cl_blue_6b {
    color: #2E476B;
}

.cl_orange_4d {
    color: #F66F4D;
}

.cl_black_62 {
    color: #5B5F62;
}

.cl_black_a4 {
    color: #9498A4;
}

.box_border {
    border: 1.4px solid #F66F4D;
    padding: 19px 36px;
    border-radius: 50px;
    transition: ease-in-out 300ms;
}

.box_border:hover {
    background: #000;
}

.po_sticky {
    position: sticky;
    top: 0;
}

.li_line::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background: #F66F4D;
    transition: all 400ms linear;
}

.li_line:hover::after {
    width: 100%;
    transform: translateX(-50%);
}

.li_line:hover {
    color: #F66F4D;
}

/* ----------discover------- */

.box {
    background: #FDFEFF;
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
    border-radius: 50px;
}

.Rectangle {
    width: 54px;
    height: 54px;
    background: #F66F4D;
    border-radius: 31px;
}

.border_right {
    border-right: 1px solid #EAEAEB;
}

.location {
    position: absolute;
    top: 16%;
    left: 8%
}

.globe {
    position: absolute;
    top: 25%;
    right: 0;
}

.img_card {
    background: #FFFFFF;
    position: absolute;
    top: 69%;
    left: -12%;
    box-shadow: 0px 14px 24px -10px rgba(226, 154, 53, 0.2);
    border-radius: 9.87879px;
}

.dubai {
    background: #FFFFFF;
    border-radius: 4.93939px;
    position: absolute;
    top: 28%;
    right: -14%;
}

.Ellipse {
    margin-left: -35px;
}

.Ellipse3 {
    margin-left: -35px;
}

.mb-50 {
    margin-bottom: -40px;
}

/* .-------------catogries------- */

.circle {
    border: 1px solid #2D3134;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

/* ----------our stories------- */

.box_3 {
    background: #FFFFFF;
    border-radius: 14px;
    position: absolute;
    top: 48%;
    left: -14%;
}

.box_4 {
    background: #FFFFFF;
    box-shadow: 10px 14px 60px -3px rgba(174, 165, 115, 0.08);
    border-radius: 10px;
    position: absolute;
    bottom: -2%;
    right: 15%;
}

.box_5 {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14px;
}

.stare_circle {
    width: 80px;
    height: 80px;
    background: linear-gradient(165.91deg, #FFECC9 10.03%, #FFD482 139.08%);
    border-radius: 50%;

}

@media (max-width: 768px) {
    .iconmenu {
        position: absolute;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-content: center;
        background-color: #fff;
        transition: all 300ms linear;
    }

    .show {
        left: 0;
    }

    .box_border {
        border: 1.4px solid #F66F4D;
        padding: 15px 30px;
        border-radius: 50px
    }

    .img_card {
        display: none;
    }
}

@media (max-width:576px) {
    .circle_a {
        position: absolute;
        top: 76%;
        right: 80px;
    }

    .circle {
        position: absolute;
        top: 80%;
    }
}