@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box;
}

.container_css {
    max-width: 1170px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.bg_body {
    background: rgba(250, 248, 237, 1);
}

/* grid section classes  */
.grid_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    gap: 10px;
}
.grid_item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}
.grid_item2 {
    grid-row: 2/3;
    grid-column: 1/2;
}
.grid_item3 {
    grid-row: 1/3;
    grid-column: 2/3;
}
.grid_item4 {
    grid-row: 3/4;
    grid-column: 1/3;
}

.grid_item5 {
    grid-row: 4/5;
    grid-column: 1/2;
}
.grid_item6 {
    grid-row: 4/5;
    grid-column: 2/3;
}
 /* GRID ITEM 1,2 HOVER AND POSITION  */


.items1{
    display: none;
    top: 24px;
    left: 24px;
    z-index: 3;
    padding: 3px 15px;
    background-color: white;
    border-radius: 15px;

}
.grid_items1:hover .items1{
display: unset;
transition: 4s ease-in;
}
.items1_2{
    display: none;
    left: 24px;
    bottom:48px;
    z-index: 3;
}
.grid_items1:hover .items1_2{
    display: unset;
    transition: 4s ease-in;
    }
.items1_3{
        display: none;
        left: 24px;
        bottom:10px;
        z-index: 3;
    }    
    .grid_items1:hover .items1_3{
        display: unset;
        transition: 4s ease-in;
        }


/* GRID ITEM 3,4,5,6 HOVER AND POSITION  */

        .items2{
            display: none;
            top: 24px;
            left: 24px;
            z-index: 3;
            padding: 3px 15px;
            background: rgba(45, 49, 52, 1);
            border-radius: 15px;
        
        }
        .grid_items2:hover .items2{
        display: unset;
        transition: 4s ease-in;
        }
        .items2_2{
            display: none;
            left: 24px;
            bottom:48px;
            z-index: 3;
        }
        .grid_items2:hover .items2_2{
            display: unset;
            transition: 4s ease-in;
            }
        .items2_3{
                display: none;
                left: 24px;
                bottom:10px;
                z-index: 3;
            }    
            .grid_items2:hover .items2_3{
                display: unset;
                transition: 4s ease-in;
                }        
        
/* box classes  */
.customer_rating_box {
    background-color: white;
    border-radius: 14px;
    padding: 32px 34px;
}

.sign_up_box {
    background: rgba(255, 212, 130, 1);
    border-radius: 30px;

}

.email_box {
    background-color: white;
    border-radius: 14px !important;
    width: 450px;
    padding: 10px 12px;
}

/* btn classes  */
.input_email {
    outline: none;
    border: none;
    padding-left: 10px;
}

.next {
    border: 1px solid #2D3134;

    border-radius: 50%;
}

.email_btn {
    display: flex ;
    align-items: center;
    padding: 11px 12px;
    background: #F66F4D;
    box-shadow: 0px 5px 14px rgba(247, 103, 67, 0.25);
    border-radius: 12px;

}
.location_btn{
    padding: 10px 20px;
    background: rgba(250, 248, 237, 1);
    color: #2D3134;
    border: 1px solid #2D3134;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-weight: var(--fw-normal);
    font-size: var(--fs-1md);
}
.location_btn:hover{
    color:rgba(250, 248, 237, 1);
    background-color: #2D3134;
}
.icon_footer:hover {
    fill: #F66F4D;
}

/* ----------font size----------- */

.fs_1sm {
    font-size: var(--fs-1sm);
}

.fs_1md {
    font-size: var(--fs-1md);
}

.fs_1lg {
    font-size: var(--fs-lg);
}

.fs_1xl{
    font-size: var(--fs-1xl);
}

.fs_2xsm {
    font-size: var(--fs-2xsm);
}

.fs_2sm {
    font-size: var(--fs-2sm);
}

.fs_2md {
    font-size: var(--fs-2md);
}

.fs_2lg {
    font-size: var(--fs-2lg);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_3lg {
    font-size: var(--fs-3lg);
}

.fs_4md {
    font-size: var(--fs-4md);
}

.fs_4lg {
    font-size: var(--fs-4lg);
}

.fs_5lg {
    font-size: var(--fs-5lg);
}

.fs_8lg {
    font-size: var(--fs-8lg);
}

/* ----font weigth----- */
.fw_normal {
    font-weight: var(--fw-normal);
}

.fw_medium {
    font-weight: var(--fw-medium);
}

.fw_semibold {
    font-weight: var(--fw-semibold);
}

.fw_bold {
    font-weight: var(--fw-bold);
}

/* ----------font family--------- */

.ff_sen {
    font-family: 'Sen';
}

.ff_poppins {
    font-family: 'poppins';
}

.ff_inter {
    font-family: 'Inter', sans-serif;
}
.clr_heading{
    color: rgba(45, 49, 52, 1);

}
.clr_paragrabh{
    color: rgba(103, 106, 108, 1);

}

/* -------------kuldeep singh--------------- */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.curser:hover{
    cursor: pointer;
    color: blue;
}

/* .container_css {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
} */

/* .preloader{
    border: 10px solid red;
    border-top: 10px solid blue;
    border-radius: 50%;
} */

.z_index5{
    z-index: 7;
}

/* ----------font size----------- */

.fs_1sm {
    font-size: var(--fs-1sm);
}

.fs_1md {
    font-size: var(--fs-1md);
}

.fs_1lg {
    font-size: var(--fs-lg);
}

.fs_1xl {
    font-size: var(--fs-1xl);
}

.fs_2xsm {
    font-size: var(--fs-2xsm);
}

.fs_2sm {
    font-size: var(--fs-2sm);
}

.fs_2md {
    font-size: var(--fs-2md);
}

.fs_2lg {
    font-size: var(--fs-2lg);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_3lg {
    font-size: var(--fs-3lg);
}

.fs_4md {
    font-size: var(--fs-4md);
}

.fs_4lg {
    font-size: var(--fs-4lg);
}

.fs_5lg {
    font-size: var(--fs-5lg);
}

.fs_8lg {
    font-size: var(--fs-8lg);
}

/* ----font weigth----- */
.fw_normal {
    font-weight: var(--fw-normal);
}

.fw_medium {
    font-weight: var(--fw-medium);
}

.fw_semibold {
    font-weight: var(--fw-semibold);
}

.fw_bold {
    font-weight: var(--fw-bold);
}

/* ----------font family--------- */

.ff_sen {
    font-family: 'Sen';
}

.ff_poppins {
    font-family: 'poppins';
}

.ff_inter {
    font-family: 'inter';
}

/*------------color---------- */

.bg_light_yellow {
    background: #FAF8ED;
}

.cl_black_34 {
    color: #2D3134;
}

.cl_black_97 {
    color: #939597;
}

.cl_blue_6b {
    color: #2E476B;
}

.cl_orange_4d {
    color: #F66F4D;
}

.cl_black_62 {
    color: #5B5F62;
}

.cl_black_a4 {
    color: #9498A4;
}

.box_border {
    border: 1.4px solid #F66F4D;
    padding: 19px 36px;
    border-radius: 50px;
    transition: all 300ms ease-in-out;
}

.box_border:hover {
    background: #5B5F62;
}

.zoom_in {
    transition: all 200ms linear;
}

.zoom_in:hover {
    scale: 1.1;
    box-shadow: 0px 28px 56px -6px rgba(241, 208, 46, 0.733);
}

.po_sticky {
    position: sticky;
    top: 0;
    z-index: 4;
}


.li_line::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #F66F4D;
    transition: all 400ms linear;
}

.li_line:hover::after {
    width: 25%;

}

.li_line:hover {
    color: #F66F4D;
}

.go_plane {
    animation: go_plane 2s linear 2s infinite alternate;
}

@keyframes go_plane {
    0% {
        transform: translate(10px, -10px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

/* ----------discover------- */

.box {
    background: #FDFEFF;
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
    border-radius: 50px;
}

.Rectangle {
    width: 54px;
    height: 54px;
    background: #F66F4D;
    border-radius: 31px;
}

.up-to {
    animation-name: up;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes up {
    0% {
        transform: translate(0, -10px);
    }

    100% {
        transform: translate(0, 10px);
    }
}

.rotate {
    animation-name: rotate;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.Rectangle:hover .search {
    scale: 1.2;
}

.search {
    transition: all 200ms ease-in-out;
}

.border_right {
    border-right: 1px solid #EAEAEB;
}

.location {
    position: absolute;
    top: 16%;
    left: 8%
}

.globe {
    position: absolute;
    top: 25%;
    right: 0;
}

.img_card {
    background: #FFFFFF;
    position: absolute;
    top: 62%;
    left: -12%;
    box-shadow: 0px 14px 24px -10px rgba(226, 154, 53, 0.2);
    border-radius: 9.87879px;
}

.dubai {
    background: #FFFFFF;
    border-radius: 4.93939px;
    position: absolute;
    top: 28%;
    right: -14%;
}

.Ellipse {
    margin-left: -35px;
}

.Ellipse3 {
    margin-left: -35px;
}

.search {
    transition: all 300ms ease;
}

.agent:hover {
    scale: 1.1;
}

.mb-50 {
    margin-bottom: -40px;
}

.book_now {
    border: 1px solid #2D3134;
    background: #FAF8ED;
    border-radius: 40px;
    padding: 12px 16px;
    transition: all 300ms ease-out;
}

.book_now:hover{
    background: #2D3134;
    color: #fff;
}

.customer_slider {
    overflow: visible;
    padding: 0 0 0 20%;
    position: relative;
    z-index: -1;
}

.z_1 {
    z-index: -1;
}

/* .-------------catogries------- */

.circle {
    border: 1px solid #2D3134;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    transition: all 200ms ease-in;
}

.circle:hover {
    background: #2D3134;
    border: none !important;;
    outline: none !important;
}

.circle:hover path {
    stroke: white;
}

.img_layer:hover:after {
    content: 'visite';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 85px;
    color: #ffffff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    font-size: 20px;
    font-weight: 600;
    font-family: 'inter';
}

/* ----------our stories------- */
.slick-sl ide {
    transform: translateX(-165px);
}

.box_3 {
    background: #FFFFFF;
    border-radius: 14px;
    position: absolute;
    top: 48%;
    left: -14%;
}

.zoom_out{
    animation-name: zoom_out;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes zoom_out{
0%{
    transform: scale(1.1);
}
100%{
    transform: scale(1);
}
}

.box_4 {
    background: #FFFFFF;
    box-shadow: 10px 14px 60px -3px rgba(174, 165, 115, 0.08);
    border-radius: 10px;
}

.custemer {
    transform: translate(185%, -85%);
}

.box_5 {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14px;
    width: 166px;
    height: 178px;
}

.stare_circle {
    width: 80px;
    height: 80px;
    background: linear-gradient(165.91deg, #FFECC9 10.03%, #FFD482 139.08%);
    border-radius: 50%;

}

.place {
    background: #FAF8ED;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 24px 90px rgba(192, 188, 161, 0.22);
    border-radius: 16px;
    width: 386px;
    overflow: hidden;
}

.slider .slick-list {
    overflow: visible;
    padding: 0 0% 0 0%;
    position: relative;
}

.slider .slick-list::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 100%;
    bottom: 0px;
    background-color: #FAF8ED;
    width: 4000px;
}

.slider .place:hover img{
    transform: scale(1.5);
    cursor: pointer;
    overflow: hidden;
}

.img_zoom{
    transition: all 0.5s linear;
}

.hov_text {
    display: none;
}

.hov_img:hover .hov_text {
    display: unset;
}

@media (max-width:1200px) {}

@media (max-width: 768px) {
    .iconmenu {
        position: absolute;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-content: center;
        background-color: #fff;
        transition: all 300ms linear;
        z-index: 5;
    }

    .show {
        left: 0;
    }

    .box_border {
        border: 1.4px solid #F66F4D;
        padding: 15px 30px;
        border-radius: 50px
    }

    .img_card {
        display: none;
    }
}

@media (max-width:576px) {
    .circle_a {
        position: absolute;
        top: 76%;
        right: 80px;
    }

    .circle_b {
        position: absolute;
        top: 76%;
    }

    .img_w100 {
        width: 100%;
    }

    .location {
        position: absolute;
        top: 19%;
        left: -6%;
    }

    .globe {
        position: absolute;
        top: 23%;
        right: -17px;
    }
}

@media (min-width:576px) {
    .custemer {
        transform: translate(330px, -85px);
    }
}

@media (min-width:992px) {
    .custemer {
        transform: translate(185%, -85%);
    }
}

@media (min-width:992px) {
    .grid_item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .grid_item2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .grid_item3 {
        grid-row: 1/3;
        grid-column: 2/3;
    }
    .grid_item4 {
        grid-row: 1/2;
        grid-column: 3/5;
    }
    
    .grid_item5 {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .grid_item6 {
        grid-row: 2/3;
        grid-column: 4/5;
    }
}
